<div class="container-fluid content-wrapper">
  <h1 class="page-title">Унификация (устранение неопределенности)</h1>
  <div class="callout-message-wrapper">
    <div class="callout-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="callout-message">
      <span>
        Рейтинги используют неоднозначные и не всегда точные названия организаций.
        Мы используем таблицу приведения названий в рейтингах к единому написанию и <a
          href="https://developers.google.com/cloud-search/docs/guides/project-setup">Google search API</a>.
          <p>Загружено {{ udmCount }} организаций до унификации названий.</p>
          <p>Необходимо устранить многозначность у {{unDisambCount}} организаций.</p>
      </span><br />
    </div>
  </div>
  <div class="col-sm-12 col-md-8" *ngIf="unDisambCount != 0">
    <label for="labelOnTop" class="col-form-label">Укажите <a href="https://developers.google.com/custom-search/v1/introduction/?apix=true">Google Search API Key</a></label>
    <input type="text" class="form-control" id="labelOnTop" placeholder="Google search API" [(ngModel)]="apiKey">
    <button type="button" class="open-button" (click)="prepare()" [disabled]="service.rankDataCount == 0">Загрузить данные Google для унификации</button>
  </div>
  <div class="col-sm-12 col-md-8" *ngIf="disambjson">
    <label>Добавьте полученные данные в файл /src/assets/data/compare/disamb.json</label>
    <textarea type="text" class="form-control" id="labelOnTop" placeholder="disamb.json" [(ngModel)]="disambjson" #userinput></textarea>
    <button type="button" class="open-button" (click)="copyInputMessage(userinput)">Скопировать данные</button>
  </div>
  <div class="col-sm-12 col-md-8" *ngIf="udmCount > 0">
    <label for="labelOnTop" class="col-form-label">Унифицировать информацию об организациях</label>
    <button type="button" class="open-button" (click)="unify()">Унифицировать данные</button>
  </div>
  <div class="col-sm-12 col-md-8" *ngIf="analysejson">
    <label>Подготовлены данные для анализа выбранных рейтингов. Для постоянного использования сохраните данные в файл /src/assets/data/compare/analyse.json</label>
    <textarea type="text" class="form-control" id="labelOnTop" placeholder="disamb.json" [(ngModel)]="analysejson" #userinput></textarea>
    <button type="button" class="open-button" (click)="copyInputMessage(userinput)">Скопировать данные</button>
  </div>
  <div class="col-sm-12 col-md-8" *ngIf="analysejson">
    <label for="labelOnTop" class="col-form-label">Подготовка данных завершена</label>
    <button type="button" class="open-button" (click)="nextStep()">Перейти к анализу</button>
  </div>
</div>