<div class="container-fluid content-wrapper">
  <h1 class="page-title">Описание</h1>

  <div class="callout-message-wrapper">
    <div class="callout-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="callout-message">
      <span>
        Сайт Comparating создан в связи с введением новых критериев формирования перечня иностранных образовательных и
        научных организаций в перечень иностранных образовательных и научных организаций, полученные образование и (или)
        квалификации, ученые степени и ученые звания в которых признаются в Российской Федерации, утвержденных
        Постановлением Правительства Российской Федерации от 5 марта 2021 г. N 326
      </span><br />
      <button type="button" class="open-button" (click)="openDescriptionPage()">Подробнее</button>
    </div>
  </div>
  <app-sources-selector></app-sources-selector>
</div>