<div class="container-fluid content-wrapper">
  <h1 class="page-title">Описание</h1>

  <div class="callout-message-wrapper">
    <div class="callout-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="callout-message">
      <span>
        Сайт Comparating создан в связи с введением новых критериев формирования перечня иностранных образовательных и
        научных организаций в перечень иностранных образовательных и научных организаций, полученные образование и (или)
        квалификации, ученые степени и ученые звания в которых признаются в Российской Федерации, утвержденных

      </span><br />
    </div>
  </div>
  <p><a href="https://base.garant.ru/70168862/" target="_blamk">Постановлением Правительства Российской Федерации</a> от
    25 апреля 2012 г. № 389 <a target="_blank"
      href="https://cyberleninka.ru/article/n/sovremennaya-sistema-priznaniya-v-rossiyskoy-federatsii-inostrannogo-obrazovaniya">впервые
      были введены критерии</a> формирования перечня иностранных образовательных и
    научных организаций в перечень иностранных образовательных и научных организаций, полученные образование и (или)
    квалификации, ученые степени и ученые звания в которых признаются в Российской Федерации.</p>
  <p>Этот перечень пересматривался Правительством Российской Федерации с учетом актуальных данных Академического
    рейтинга
    университетов мира (Academic Ranking of World Universities), Всемирного рейтинга университетов (QS World University
    Rankings) и Рейтинга университетов мира Таймс (Times Higher Education World University
    Ranking). При этом отбираются университеты, которые занимают первые триста позиций одновременно во всех трех
    рейтингах. Перечень формировался в накопительном порядке. Если университет в каком-то
    году не попал в отбор, он, тем не менее, оставался в перечне.</p>
  <p>Начиная с 2021 года <a target="_blank" href="https://base.garant.ru/400436735/">Постановлением Правительства
      Российской Федерации
      от 5 марта 2021 г. N 326</a> вводятся новые критерии формирования перечня иностранных образовательных и
    научных организаций в перечень иностранных образовательных и научных организаций, полученные образование и (или)
    квалификации, ученые степени и ученые звания в которых признаются в Российской Федерации</p>
  <p>Новыми критериями устанавливается, что Иностранная образовательная организация и иностранная научная
    организация входят в текущем году в одну из первых 500 позиций не менее чем в 3 из 5 международных рейтингов
    одновременно: академический рейтинг университетов мира (Academic Ranking of World Universities), всемирный
    рейтинг университетов (QS World University Rankings), рейтинг университетов мира Таймс (The Times Higher
    Education World University Rankings), мировой рейтинг университетов (U.S. News Best Global Universities) и
    Московский международный рейтинг вузов "Три миссии университета".</p>
  <p>Формулировка новых критериев ("входят в текущем году") не исключает возможности утраты легального статуса
    зарубежного уровня
    образование и (или) квалификации, ученой степени и ученого звания выпускников университетов, выпавших из списка. В
    таком случае образовательная организация может отчислить и работадатель может уволить работника при наличии
    квалификационных требований к должности.</p>
  <p>Учитывая эту особенность был разработана программа Comparating, которая позволяет проанализировать рейтинги и
    соответствие
    органиазции установленным критериям.</p>
  <p>При разработке программы было учтено, что рейтинги не предоставляют даннеы в машиночитаемом формате. Исх
    сопоставление не исключает неопределенности в связи с тем, что названия университета в разных рейтингах могут
    различаться.</p>
  <p>Программа Comparating создана с открытым исходным кодом, доступным в репозитарии <a target="_blank"
      href="https://github.com/stipot/comparating">GitHub</a>.</p>
  <p>Далее Вы можете перейти сразу в раздел <a href="/analysis">Анализ</a> сопоставления рейтингов в условиях новых
    критериев.</p>
  <p>Вы можете определить самостоятельно <a href="/analysis">Источники</a> данных и сделать свое сопоставление и анализ.
  </p>